<h1><%= @restaurant.name %> </h1>
  <ul>
      <li><%= @restaurant.address %></li>
      <li><%= @restaurant.category %></li>
  </ul>
<h1>Reviews</h1>
  <ul>
      <% @restaurant.reviews.each do |review| %>
        <li>
        <%= review.content %> - <% review.rating %> -
        <%= link_to "Delete", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        </li>
      <% end %>
  </ul>
<%= link_to "Go back", restaurants_path %>
<%= link_to "Review this restaurant", new_restaurant_review_path(@restaurant) %>
